* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.contaner {
    margin: 0 auto;
    width: 80%;
}
.main-screen {
    background-color: #e5e5e5;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.main-screen-left-column {
    width: 50%;
    float: left;
    text-align: center;
}
.main-screen-right-column {
    width: 50%;
    float: right;
}
.main-screen-title {
    font-size: 40px;
}
.main-screen-description {
    margin-top: 40px;
    width: 60%;
    color: #727272;
}
.main-screen-button {
    background-color: #34547A;
    margin-top: 40px;
    text-align: center;
    width: 225px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}
.about-me {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-me-title {
    font-size: 32px;
    padding-bottom: 50px;
}
.about-me-text {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 16px;
    color: #727272;
}
.projects {
    background-color: #34547A;
    height: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.project {
    width: 16.6%;
    float: left;
}
.project-left {
    width: 50%;
    float: left;
    text-align: center;
}
.project-right {
    width: 50%;
    float: right;
    color: #fff;
    text-align: left;
}
.project-title {
    padding-left: 5px;
    padding-bottom: 10px;
}
.project-text {
    padding-left: 5px;
}
.skills {
    margin-top: 102px;
    margin-bottom: 101px;
    overflow: hidden;
}
.skills-layout-left {
    width: 50%;
    float: left;
}
.skills-layout-title {
    padding-top: 102px;
    padding-bottom: 10px;
}
.skills-layout-name {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #727272;
}
.skills-progress {
    background-color: #c4c4c4;
    height: 3px;
    width: 80%;
}
.skills-progress-bar {
    background-color: #34547A;
    height: 3px;
    width: 60%;
}
.my-photo {
    width: 50%;
    float: right;
    text-align: center;
}
.how-i-work {
    background-color: #EEEFF1;
    text-align: center;
    overflow: hidden;
}
.work-title {
    padding-top: 50px;
    padding-bottom: 20px;
}
.work-description {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 50px;
    color: #727272;
}
.work-video {
    height: auto;
    padding-bottom: 100px;
}
.player-button {
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("work_player.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
