* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.main-screen {
    background-color: #e5e5e5;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.main-screen-left-column {
    width: 50%;
    float: left;
    text-align: center;
}
.main-screen-right-column {
    width: 50%;
    float: right;
}
.main-screen-title {
    font-size: 40px;
}
.main-screen-description {
    margin-top: 40px;
    width: 60%;
    color: #727272;
}
.main-screen-button {
    background-color: #34547A;
    margin-top: 40px;
    text-align: center;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.about-me {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-me-title {
    font-size: 32px;
    padding-bottom: 50px;
}
.about-me-text {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 16px;
    color: #727272;
}
.numbers {
    background-color: #34547A;
    height: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.number {
    width: 16.6%;
    float: left;
}
.number-left {
    width: 50%;
    float: left;
    text-align: center;
}
.number-right {
    width: 50%;
    float: right;
    color: #fff;
    text-align: left;
}
.number-title {
    padding-left: 5px;
    padding-bottom: 10px;
}
.number-text {
    padding-left: 5px;
}
.skills {
    margin-top: 102px;
    margin-bottom: 101px;
    overflow: hidden;
}
.skills-layout-left {
    width: 50%;
    float: left;
}
.skills-layout-title {
    padding-top: 102px;
    padding-bottom: 10px;
}
.skills-layout-name {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #727272;
}
.skills-progress {
    background-color: #c4c4c4;
    height: 3px;
    width: 80%;
}
.skills-progress-bar {
    background-color: #34547A;
    height: 3px;
    width: 60%;
}
.my-photo {
    width: 50%;
    float: right;
    text-align: center;
}
.how-i-work {
    background-color: #EEEFF1;
    text-align: center;
    overflow: hidden;
}
.work-title {
    padding-top: 50px;
    padding-bottom: 20px;
}
.work-description {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 50px;
    color: #727272;
}
.work-video {
    height: auto;
    padding-bottom: 100px;
}
.player-button {
    padding-top: 250px;
    padding-bottom: 250px;
    background: url("work_player.jpg") no-repeat center;
}
.projects {
    margin-top: 28px;

    overflow: hidden;
}
.top-line {
    width: 100%;
    height: 50%;
    float: top;
}
.board {
    width: 25%;
    height: auto;
    float: left;
    background: url("Board.jpg") no-repeat;
    display: block;
}
.table {
    width: 25%;
    height: auto;
    float: left;
    background: url("Table.jpg") no-repeat;
    display: block;
 }
.bottom-line {
    width: 100%;
    height: 50%;
    float: bottom;
}
.board {
    width: 25%;
    height: auto;
    float: left;
    background: url("Board.jpg") no-repeat;
    display: block;
}
.table {
    width: 25%;
    height: auto;
    float: left;
    background: url("Table.jpg") no-repeat;
    display: block;
}
.clients {
    padding-top: 72px;
    padding-bottom: 120px;
    overflow: hidden;
}
.client {
    width: 25%;
    float: left;
}
.form {
    background-color: #EEEFF1;
    overflow: hidden;
}
.form-text-box {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.form-text-description {
    padding-left: 30%;
    padding-right: 30%;
    color: #727272;
}
.form-input {
    padding-left: 30%;
    padding-right: 30%;
}
.input {
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.form-input-name {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: white;
}
.form-input-e-mail {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    background-color: white;
}
.form-input-message {
    margin-top: 50px;
    float: left;
    width: 100%;
    height: 175px;
    text-align: left;
    background-color: white;
}
.form-button {
    padding-top: 50px;
    padding-bottom: 100px;
    float: left;
    width: 100%;
    text-align: center;
}
.button {
    background-color: #34547A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}